.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  color: #B9BBBE;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #202225;
  border: none;
  border-radius: 5px;
  color: #fff;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #5865F2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 12px;
}
button.back-button {
  background-color: #FF6B6B;
  
}
button.back-button:hover {
  background-color: #FF4F4F;
}
button:hover {
  background-color: #4752C4;
}

.error {
  color: #FF6B6B;
  margin-bottom: 20px;
  text-align: center;
}

.message {
  color: #4CAF50;
  margin-bottom: 20px;
  text-align: center;
}