
.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

h1, h2, h3 {
  color: #fff;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  color: #B9BBBE;
  margin-bottom: 8px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #202225;
  border: none;
  border-radius: 5px;
  color: #fff;
}

button, .nav a, .product-item a {
  padding: 12px 20px;
  background-color: #5865F2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

button:hover, .nav a:hover, .product-item a:hover {
  background-color: #4752C4;
}
.product-details{
  margin-bottom: 12px;
}
.product-details img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.review-item {
  background-color: #2C2F33;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.error {
  color: #FF6B6B;
  margin-bottom: 20px;
}

.back-arrow {
  display: inline-block;
  margin-bottom: 20px;
  color: #7289DA;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #4752C4;
}